<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tamim's Portfolio</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./assets/images/3d-avatar-male_lg.webp" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <%- include('G:\\MISC\\portfolio-gen\\templates\\details.ejs', {user: user}) %>

    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <button class="navbar-link active" data-nav-link>About</button>
          </li>
          
          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Education</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Achievements</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Experience</button>
          </li>
          
          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Projects</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Research</button>
          </li>

          <!-- <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Location</button>
          </li> -->
        </ul>
      </nav>

      <!--
        - #ABOUT
      -->

      <%- include('G:\\MISC\\portfolio-gen\\templates\\about.ejs', {about: about}) %>
      
      <!--
        - #EDUCATION
      -->
      <%- include('G:\\MISC\\portfolio-gen\\templates\\education.ejs', {education: education}) %>

      <!--
        - #ACHIEVEMENTS
      -->
      <%- include('G:\\MISC\\portfolio-gen\\templates\\achievements.ejs', {achievements: achievements}) %>

      <!--
        - #EXPERIENCE
      -->
      <%- include('G:\\MISC\\portfolio-gen\\templates\\experience.ejs', {experiences: experiences}) %>

      <!--
        - #PROJECTS
      -->
      <%- include('G:\\MISC\\portfolio-gen\\templates\\projects.ejs', {projects: projects}) %>

      <!--
        - #RESEARCH
      -->
      
      <%- include('G:\\MISC\\portfolio-gen\\templates\\researches.ejs', {researches: researches}) %>
      
      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

        <section class="projects">

          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Web design</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Applications</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Web development</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web design</button>
              </li>

              <li class="select-item">
                <button data-select-item>Applications</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web development</button>
              </li>

            </ul>

          </div>

          <ul class="project-list">

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-1.jpg" alt="finance" loading="lazy">
                </figure>

                <h3 class="project-title">Finance</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

          </ul>

        </section>

      </article>

     

    </div>

  </main>






  <!--
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>